<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">


<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anon ymous">

        <style>

  .mainpage {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    width: 95%;
    padding: 10px;
    position: relative;
  }

#frate {
  color: #ff0066;
  text-align: center;
  margin-top: -40px;
}

  h1 {
    font-size: 50px
  }

  #title {
    font-size: 4rem;
    text-align: center;
    color: #ff0066;
  }
  #photo_logo {
    margin-top: 25px;
  }

   .speech-bubble {
	position: relative;
	background: #ffe6e6;
  border-radius: .4em;
  width: 50%;
  margin-left: 20px;
  text-align: center;
  border-style: solid;
  border-color: #D3D3D3;
  padding: 1%;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #D3D3D3;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
#buttonforp {
  margin-left: 20px;
  margin-bottom: 50px;
}

  </style>

    <title>Frate</title>
</head>
 
<body>


<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
        <div class="p-4 pt-5">
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://us.123rf.com/450wm/arbuzu/arbuzu1607/arbuzu160700095/60765606-letter-f-heart-icon-design-template-elements.jpg?ver=6);"></a>
          <h3 id="frate">Frate</h3>

          <br>
                  <ul class="list-unstyled components mb-5">
                  <li>
                  <%= link_to("Home", analytics_path(@analytics), method: :get) %>
              </li>
              <li>
              <%= link_to("My Profile", current_user, method: :get) %>
          </li>
	          <li>
	              <%= link_to "All Users", users_path %>
            </li>
            <li>
              <a href="#">My Messages</a>
	          </li>
	          <li>
              <%= link_to "My Reviews", "/users/#{current_user.id}/reviews" %>
	          </li>
            <li>
            
                <%= link_to "Logout", {:controller=> 'sessions', :action=> "destroy"}, :method=> :delete%><br>
            </li>
           
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" >


      <h1 id="title"><img src="https://us.123rf.com/450wm/arbuzu/arbuzu1607/arbuzu160700095/60765606-letter-f-heart-icon-design-template-elements.jpg?ver=6"; width="80", height="80", class="img logo rounded-circle mb-5", id="photo_logo"> Reviews for <%= @user.name %> </h1>
      <br>


  <% @reviews.each do |r| %>
        <% if r.reviewee == @user  %>
        <br>
        <div class="speech-bubble">
        <%= r.content %><br>
        <em>by, <%=begin r.reviewer.name rescue 'User profile has been deleted' end%> </em><br>
        </div>
      </br>
    <% end %>
  <% end %>
    

<br>
<%= link_to("Go back to #{@user.name}'s Profile", user_path(@user), class: "btn btn-outline-danger btn-md", id: "buttonforp") %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>