<h1> Rate <%= @user.name %></h1>


<%= form_for (@user) do |f| %>

  <%= f.label :rating %>
  <%= f.number_field :rating, max: 5, min: 1 %>
  <br/><br/>
  
  <br/><br/>
  <%= f.submit "Create the Review for #{@user.name}!" %>
<% end %>