<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">


<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anon ymous">

        <style>

  .mainpage {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    width: 95%;
    padding: 10px;
    position: relative;
  }


  h1 {
    font-size: 50px
  }
  </style>

    <title>Frate</title>
</head>
 
<body>


<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://us.123rf.com/450wm/arbuzu/arbuzu1607/arbuzu160700095/60765606-letter-f-heart-icon-design-template-elements.jpg?ver=6);"></a>
	        <ul class="list-unstyled components mb-5">
            <li>
              <%= link_to("My Profile", @current_user, method: :get) %>
          </li>
	          <li>
	              <%= link_to "All Users", users_path %>
            </li>
            <li>
              <a href="#">Messages</a>
          </li>
	          <li>
              <a href="#">My Reviews</a>
	          </li>
            <li>
            <% if @current_user.id == params[:id].to_i %>
                <%= link_to "Logout", {:controller=> 'sessions', :action=> "destroy"}, :method=> :delete%><br>
            <% end%>
            </li>
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" >




      <div class="mainpage">
 <% if @current_user.id == params[:id].to_i%>
<h1>Hey <%= @current_user.name %>!</h1>
<% else %> 
<h1><%= @user.name %>'s Profile</h1>
<% end %>
<br>
age: <%= @user.age %>
<br>
bio: <%= @user.bio %>
<br><br>



<h2><%= @user.name %>'s matches: </h2>
<% @users.each do |user| %>
  <% if user.love_choice == @user.love_choice %>
  <% if user.food_choice == @user.food_choice %>
    <% if @user != user %>
      <li>
    <%= (link_to user.name, user)%>
      </li>
    <% end%>
  <% end%>
<% end %>
<% end %>

<br>
<% if @current_user.id == params[:id].to_i%>
<h2>If you feel like we were wrong, make new friends here: </h2><br>
  <% @not_friending.each do |user| %> 
     <% if user.id != @user.id %>       
        <li>
     <%= (link_to user.name, user) %>
       <%= form_for user, url: { action: "update" } do |f|  %>
      <%= f.hidden_field :name %>
      <%= f.submit "Add friend" %>
        </li>
    <% end %>  
  <% end %>
  <% end %>
<% end %>
<br>



<% if @current_user.id == params[:id].to_i %>
  <%= link_to "delete account", user_path, method: "DELETE" %>
<% end %>
</br>
<% if @current_user.id == params[:id].to_i %>
<%= link_to 'Edit account', edit_user_path(@user) %>
<% end %>

<% if @current_user.id != params[:id].to_i %>
 <h2>Leave a review for <%= @user.name %></h2>
<%=  form_for @user.name do |f| %>
<%= f.text_area :reviews %>
<br>
<%= f.submit "Post Review" %>

<% end %>
<% end %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>

