<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">


<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anon ymous">

        <style>

  .mainpage {
    font-family: 'Oswald', sans-serif;
  }

  #frate {
    color: #ff0066;
    text-align: center;
    margin-top: -40px;
  }

  #welcome {
    color: #F5F5F5;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
  }

  #home {
    color: white;
    text-align: center;
    margin-top: -10px;
  }

  #facts {
    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    color: #ff0066;
  }

  #photo_logo {
    margin-top: 25px;
  }

  #number {
    color: #ff0066;
  }

  #title {
    font-size: 90px;
    text-align: center;
    color: #ff0066;
  }

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 125;
    font-size: calc(30px + (50 - 30) * ((100vw - 250px) / (1600 - 250)));
}

#info {
    font-weight: 100;
    font-size: calc(30px + (50 - 30) * ((100vw - 250px) / (1600 - 250)));
}



  </style>

    <title>Frate</title>
</head>
 
<body>

<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://us.123rf.com/450wm/arbuzu/arbuzu1607/arbuzu160700095/60765606-letter-f-heart-icon-design-template-elements.jpg?ver=6);"></a>
                  <h3 id="frate">Frate</h3>
                  <h4 id="welcome">Hello <%= @current_user.name %>   </h4>

          <br>
                  <ul class="list-unstyled components mb-5">
                  <li>
                  <%= link_to("Home", analytics_path(@analytics), method: :get) %>
              </li>
            <li>
              <%= link_to("My Profile", @current_user, method: :get) %>
          </li>
	          <li>
	              <%= link_to "All Users", users_path %>
            </li>
            <li>
              <a href="#">My Messages</a>
          </li>
	          <li>
              <%= link_to "My Reviews", "/users/#{@current_user.id}/reviews" %>
	          </li>
            <li>
            <% if @current_user %>
                <%= link_to "Logout", {:controller=> 'sessions', :action=> "destroy"}, :method=> :delete%><br>
            </li>
            <% end%>
	        </ul>

	      </div>
    	</nav>

		

        <!-- Page Content  -->
      <div id="content" >


      <h1 id="title"><img src="https://us.123rf.com/450wm/arbuzu/arbuzu1607/arbuzu160700095/60765606-letter-f-heart-icon-design-template-elements.jpg?ver=6"; width="80", height="80", class="img logo rounded-circle mb-5", id="photo_logo"> Frate </h1>
      <br>



<section class="container-fluid px-0">
<div class="row align-items-center">
    <div class="col-lg-6">
        <div id="headingGroup" class="text-black text-center d-none d-lg-block mt-5">
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        <h1 class="">LOVE<span>/</span>OR<span>/</span>FRIENDSHIP?</h1>
        </div>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid" src="https://images.unsplash.com/photo-1466979939565-131c4b39a51b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
    </div>
</div>
</section>
<div id="headingGroup" class="text-black text-center d-none d-lg-block mt-5">

</div>

<section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="https://images.unsplash.com/photo-1530742104769-90b81f3cee50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                <div id="headingGroup" class="text-black text-center d-none d-lg-block mt-5">
                  <h1 class=""><strong> Fun<span>/</span>Frate<span>/</span>Facts: </strong></h1>
                  <br>
                  <h1> •We have <strong><%= User.users_count %></strong> Users at the Moment! </h1>
                         
                  <h1>  •The Average Age is <strong><%= User.average_age %></strong>! </h1>
                        
                   <h1> •Most popular food choice now is <strong>Italian</strong>! </h1>
                </div>
            </div>
                    
                </div>
            </div>
       </div>


<script src="sidebar-01/js/jquery.min.js"></script>
<script src="sidebar-01/js/popper.js"></script>
<script src="sidebar-01/js/bootstrap.min.js"></script>
<script src="sidebar-01/js/main.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>